<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Gérants</h1>
  <a class="btn btn-primary" [routerLink]="['/admin','addgerants']" >Ajouter Gerants
  <i class="ri-add-box-fill"></i>
  </a>

</div>
<!-- Content Row -->
<div class="container">
  <div class="row row-cols-1">
    <div class="col">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom </th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Telephone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of gerants ; index as i; ">
      <td>{{  i+1}}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.firstname }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phone }}</td>
      <td>
        <a  [routerLink]="['/admin','updategerants',data._id]" class="btn btn-outline-warning" >

      <i class="ri-edit-line"></i></a>
        <button  (click)="DeleteUser(data._id)" type="button" class="btn btn-outline-danger" >
          <i class="ri-delete-bin-5-line"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>


