<footer>
  <nav>
    <div class="logo">
      <a routerLink="/wishlist"><i  class="fa fa-heart" aria-hidden="true"></i></a>
    </div>

    <div class="panier">
      <a routerLink="/cart-page" > <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
     <div class="circle">
      <div class="cercle2">
          <div class="home">
            <a routerLink="/category" >  <i class="fa fa-home" aria-hidden="true"></i></a>
          </div>
      </div>
     </div>
  </nav>

</footer>

