<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Ajouter  Gerant</h1>
</div>
<!-- Content Row -->
<div class="row">
  <form [formGroup]="userForm"  (ngSubmit)="onSubmit(userForm.value)" >
    <div class="form-group" >
      <label for="nom">Nom</label>
      <input type="text" name="name" formControlName="name"  class="form-control"   aria-describedby="nom" placeholder="Non utilisateur">
      <small *ngIf="userForm.controls['name'].errors && userForm.controls['name'].touched" class="text-danger">
        {{userService.getErrorMessage('Nom', userForm.controls['name'].errors)}}
	    </small>
    </div>
    <div class="form-group">
      <label for="nom">Prénom</label>
      <input type="text" name="firstname" formControlName="firstname"   class="form-control" placeholder="prenom utilisateur" >
      <small *ngIf="userForm.controls['firstname'].errors && userForm.controls['firstname'].touched" class="text-danger">
        {{userService.getErrorMessage('Prenom', userForm.controls['firstname'].errors)}}
	    </small>
    </div>
    <div class="form-group" >
      <label for="phone">Telephone</label>
      <input type="number" name="phone" formControlName="phone"   class="form-control"  placeholder="telephone Utilisateurs ">
      <small *ngIf="userForm.controls['phone'].errors && userForm.controls['phone'].touched" class="text-danger">
        {{userService.getErrorMessage('Telephone', userForm.controls['phone'].errors)}}
	    </small>
    </div>
    <div class="form-group"  >
      <input  type="hidden" ngModel="Gerant"  formControlName="role"name="role" value="Gerant"  class="form-control" id="role" aria-describedby="role" placeholder="role Utilisateurs ">
    </div>
    <div class="form-group" >
      <label for="email">Email</label>
      <input type="text" name="email"class="form-control" formControlName="email" aria-describedby="mail" placeholder="email utilisateur">
      <small *ngIf="userForm.controls['email'].errors && userForm.controls['email'].touched" class="text-danger">
        {{userService.getErrorMessage('Email', userForm.controls['email'].errors)}}
	    </small>
    </div>
    <div class="form-group" >
      <label for="password">Mot de passe</label>
      <input type="password" name="password"class="form-control"formControlName="password" ngModel=""  id="password" aria-describedby="password" placeholder="password utilisateur">
      <small *ngIf="userForm.controls['password'].errors && userForm.controls['password'].touched" class="text-danger">
        {{userService.getErrorMessage('Mot de passe', userForm.controls['password'].errors)}}
	    </small>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter </button>
  </form>
</div>
