<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Commandes   </h1>

</div>
  <br>
<!-- Content Row -->
<div class="container">
  <div class="bloc">
 <!--! <form class="d-flex" [formGroup]="productForm"  (submit)="search()">
    <input class="form-control" type="search"  size="60px" placeholder="recherche"  formControlName="search" name="search" aria-label="recherche">
    <button  class="btn btn-outline-success" type="submit">
      <i class="ri-search-line"></i>
    </button>
  </form>-->


  <div class="row row-cols-1">
    <div class="col">
    <table class="table table-bordered">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Numéro de table </th>
        <th scope="col">Date de commande </th>
        <th scope="col">Nombre de commande </th>
        <th scope="col">Prix total</th>
        <th scope="col" style="width: 200px;">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of cart |paginate: config; index as i; ">
        <td>{{ i+1}}</td>
        <td>{{ data.numtable }}</td>
        <td>{{ data.date |date}}</td>
        <td>{{ data.totalCount }}</td>
        <td>{{ data.totalPrice }}</td>
        <td>
          <a [routerLink]="['/admin','cart',data._id]"  routerLinkActive="router-link-active"  class="btn  btn-outline-success mb-2">
            <i class="ri-eye-line"></i>
        </a>

        <button  (click)=" deleteCart(data._id)" type="button"  class="btn btn-outline-danger  mb-2">
          <i class="ri-delete-bin-5-line"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination">
<pagination-controls (pageChange)="config.currentPage = $event"></pagination-controls>
</div>
</div>
</div>

